@import url('https://fonts.googleapis.com/css?family=Montserrat');
/* @import 'antd/dist/antd.css'; */
@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  display: none;
}

@layer components {
  .container2 {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.4);
    z-index: 10;
  }

  .modal {
    background: white;
    border-radius: 14px;
    position: relative;
    animation: animate 0.3s;
  }
  @keyframes animate {
    from {
      transform: scale(0.5);
    }
    to {
      transform: scale(1);
    }
  }
}
